#userFeed {
  display: flex;
  flex-flow: column nowrap;
}

#profileInfo {
  border: 1px solid black;
  width: 25%;
  height: 200px;
  align-self: flex-start;
}

.HP-header {
  background-color:green;
  height: 150px;
  padding: 20px;
  color: white;
}

#messageFeed {
  border: 1px solid black;
  height: 100vh;
  width: 74%;
  align-self: flex-end;
}

#newMessage {
  width: 98.5%;
  height: 50px
}

.message {
  border: 3px solid black;
  position: relative;
}

#messageUserInfo {
  border: 1px solid black;
  width: 20%
}

.deleteMessage {
  position: absolute;
  top: 0;
  right: 0;
}

.heading {
  font-family: Helvetica;
  font-size: 26px;
  text-align: center;
  color: green;
  border-bottom: 2px black solid;
}

.login {
  height: 50px;
  width: 95px;
  background-color: green;
  color: white;
  font-size: 15px;
  position: relative;
  left: 475px;
  top: 100px;
}

.signup {
  height: 50px;
  width: 95px;
  background-color: green;
  color: white;
  font-size: 15px;
  position: relative;
  left: 1000px;
  top: 100px;
}

p {
  text-align: center;
}

img {
  position: relative;
  left: 450px;
  bottom: 30px;
}

.App-title {
  float: left;
}
